<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>659209406442-fu92rrpn93169af9nd8ian6loti7si13.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.659209406442-fu92rrpn93169af9nd8ian6loti7si13</string>
	<key>API_KEY</key>
	<string>AIzaSyAeVSrfLE2whc_mNLV5VLJmv7OM2a9NcdY</string>
	<key>GCM_SENDER_ID</key>
	<string>659209406442</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.satakshi.DailyJournal</string>
	<key>PROJECT_ID</key>
	<string>spilr-100f7</string>
	<key>STORAGE_BUCKET</key>
	<string>spilr-100f7.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:659209406442:ios:a3fa00dd8a28a87a979493</string>
</dict>
</plist>