<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.659209406442-fu92rrpn93169af9nd8ian6loti7si13</string>
			</array>
		</dict>
	</array>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>CFBundleDisplayName</key>
	<string>spilr</string>
	<key>CFBundleIconName</key>
	<string>AppIcon</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>spilr uses your microphone so you can speak your journal entry instead of typing.</string>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>spilr transcribes your voice into text so you can journal hands-free.</string>
</dict>
</plist>
